# Salt minion configuration

# URL of salt master (fqdn or ip)
master: salt.pjtracker.com

# Minion id
id: dev-test1

# Grains for minion (env and app)
grains:
  box_type: vagrant
  app: pjtracker
  env: dev
  roles: []
